.main {
  padding: 0 !important;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.insights-hero {
  background-color: transparent;
  width: 100%;
}

.hero h1 {
  text-align: center;
}

.secondary {
  margin: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-color: transparent !important;
  flex: 2;
}

.search-content {
  background-color: transparent !important;
}

.search {
  margin: auto;
  max-width: 750px;
}
.search-input {
  border-radius: 5px;
  background-color: mistyrose;
  padding: 10px 20px;
  box-sizing: content-box;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: inherit;
  margin-bottom: 15px;
}

.search-input>input {
  border-radius: 5px;
  height: 40px;
  margin: 5px 10px 5px 0;
  border: none;
  width: 80%;
  padding: 5px 10px;
}
.search-input>input:hover,
.search-input>input:focus,
.search-input>input:active {
  outline: none;
}
.search-input>button {
  padding: 10px 20px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.jobs {
  margin-top: 15px;
}

.job-card {
  border-radius: 8px;
  border: none;
  margin: 1rem;
  background-color: var(--color-card-background);
}

.job-content {
  background-color: transparent !important;
}

.insights-loader > .spinner {
  position: unset !important;
  background: none !important;
  transform: none;
}